.details {
  padding: 20px;
}

.details-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-title-profil {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details-tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-collapse {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  // Ensure collapses have equal width
  .collapse-wrapper {
    flex: 1;
  }
}
