.details {
  padding: 20px;
}

.details-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.details-title-profil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.details-tags-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .details-header {
    flex-direction: column;
  }

  .details-tags-rating {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .details-tags-rating > *:first-child {
    order: 2; /* Profil sera à droite */
  }

  .details-tags-rating > *:last-child {
    order: 1; /* Rating sera à gauche */
  }
}

.details-collapse {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  .collapse-wrapper {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
