@import "../../styles/mixins.scss";

.details {
}

.details-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.details-title-profil {
  @include flex-column-space-between;
  align-items: flex-start;
  width: 70%;
  
}

.details-tags-rating {
  @include flex-column-space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .details-header {
    flex-direction: column;
  }

  .details-tags-rating {
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-between;
  }
}

.details-collapse {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  // Ensure collapses have equal width
  .collapse-wrapper {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.details-collapse {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  // Ensure collapses have equal width
  .collapse-wrapper {
    flex: 1;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
