@import '../../../styles/variables';

.details-host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.details-host-name {
  color: $primary-color;
  font-weight: 500;
  margin-right: 10px;
}

.details-host-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
