.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: calc(30% - 20px);
  padding-bottom: calc(33.333% - 20px);
  cursor: pointer;

  .card-image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      .card-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .overlay {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0,0,0,0) 27%, rgba(0,0,0,0.32376278147977944) 75%, rgba(0,0,0,0.42180199716605393) 100%);
      }
  }

  .card-title {
      position: absolute;
      bottom: 10px;
      z-index: 2;
      font-size: 18px;
      margin: 0;
      padding: 10px;
      color: white;
  }
 
}


