@import '../../../styles/variables';

.details-name{
    font-weight: 500;

    h1{
        font-size: 36px;
    font-weight: 500;
    color: $primary-color;
    }
    p{
        font-size: 18px;
        margin: 10px 0;
    }
}