.collapse-wrapper {
  margin-bottom: 20px; // Ensure spacing between collapses
}

.collapse {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #ff6060;
  border-radius: 5px;
  overflow: hidden;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
  }

  &-icon {
    transition: transform 0.3s ease;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);

    &.open {
      transform: rotate(-180deg);
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &.open {
      max-height: 500px;
    }
  }

  &-content-inner {
    padding: 10px;
  }
}
