@import '../../styles/variables';
@import '../../styles/mixins';

.collapse-wrapper {
  margin-bottom: 20px;
  flex: 1; // Ensuring equal width in a flex container
}

.collapse-container{
  display: flex;
  flex-direction: column;
  align-items: center; // Center the collapses horizontally
  width: 80%;
  margin: 0 auto; 
  @media (max-width: 768px) {
    margin-top: 20px;
    width: 100%;
  }
}

.collapse {
  width: 100%;
  margin: 0; // Remove margin to avoid extra space
  overflow: hidden;
  border-radius: 10px;
  

  &-header {
    @include flex-center-space-between;
    background-color: $primary-color;
    color: $tertiary-color;
    padding: 10px;
    cursor: pointer;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
  }

  &-icon {
    transition: transform 0.3s ease;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);

    &.open {
      transform: rotate(-180deg);
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &.open {
      max-height: 500px;
    }
  }

  &-content-inner {
    padding: 10px;
  }
}
