@import "../../styles/variables";
@import "../../styles/mixins";

.carrousel {
  max-width: 1240px;
  height: 415px;
  border-radius: 25px;
  @include hidden-overflow-relative;
  @include flex-center;
  margin: 30px auto;
  width: 100%;
}

.carrousel-image {
  @include full-size;
  object-fit: cover;
  border-radius: inherit;
}

.left-arrow,
.right-arrow {
  @include arrow-styles;
}

.left-arrow {
  left: 40px;
}

.right-arrow {
  right: 40px;
}

.image-counter-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.image-counter {
  font-size: 18px;
  font-weight: 500;
  color: $tertiary-color;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .carrousel {
    max-width: 100%;
    height: 250px;
    border-radius: 15px;
    margin: 20px auto;
  }

  .left-arrow,
  .right-arrow {
    font-size: 50px;
  }

  .left-arrow {
    left: 20px;
  }

  .right-arrow {
    right: 20px;
  }

  .image-counter {
    font-size: 14px;
    padding: 3px 7px;
  }
  .image-counter {
   display: none;
  }
}

@media (max-width: 400px) {
  .carrousel {
    border-radius: 10px;
  }

  .left-arrow,
  .right-arrow {
    font-size: 40px;
  }

  .left-arrow {
    left: 15px;
  }

  .right-arrow {
    right: 15px;
  }

  .image-counter {
    font-size: 12px;
    padding: 2px 5px;
  }
}
