@import '../../styles/mixins';

.header {
  @include flex-center-space-between;
  padding: 20px;

  img {
    width: 20vw;
    max-width: 200px;
    min-width: 100px;
  }

  .header-nav {
    display: flex;
    gap: 20px;
    list-style: none;

    li {
      a {
        font-size: clamp(12px, 2vw, 48px);
        font-weight: 500;
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
