@import '../../styles/global';


.header {
  @include flex-center;
  padding: 20px;

  .header-nav {
    display: flex;
    gap: 20px;
    list-style: none;

    li {
      a {
        font-size: 24px;
        font-weight: 500;
        color: inherit; // Ensure it inherits the correct color
        text-decoration: none; // Start with no text decoration

        &:hover {
          text-decoration: underline;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}