@import '../../../styles/variables';
@import '../../../styles/mixins';


.tags-container {
    display: flex;
    gap: 10px;
  }
  
  .tag {
    background-color: $primary-color;
    color: $tertiary-color;
    padding: 8px 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    @include flex-center;
    white-space: nowrap;
  }
  