@import '../../styles/variables';
@import '../../styles/mixins';

.banner {
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  @include hidden-overflow-relative;
  background-position: center;
  @include flex-center;
  margin: 30px auto;

  .overlay {
    position: absolute;
    @include full-size;
    background: rgba(0, 0, 0, 0.3);
  }

  &.home .overlay {
    background: rgba(0, 0, 0, 0.6);
  }

  &.home {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    h1 {
      color: $tertiary-color;
      font-weight: bold;
      z-index: 1;
      font-size: 46px;
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    height: 111px;

    &.home {
      box-shadow: none;

      h1 {
        font-size: 24px;
        font-weight: 500;
        margin-left: 15px;
      }
    }
  }
}