.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    p {
      color: #FF6060;
      margin-top: 100px;
    }
  
    .large-text {
      font-size: 288px;
      font-weight: 700;
    }
  
    .medium-text {
      font-size: 36px;
      font-weight: 500;
    }
  
    .nav-link {
        font-size: 18px;
      text-decoration: none;
      font-weight:500;
      margin: 100px;

  
      &:hover {
        text-decoration: underline;
      }
    }
  }